@font-face {
  font-family: questrial;
  src: url(./fonts/Questrial-Regular.ttf);
}

@font-face {
  font-family: "gilroy light";
  src: url(./fonts/Gilroy-Light.ttf);
}

@font-face {
  font-family: "gilroy extra bold";
  src: url(./fonts/Gilroy-ExtraBold.ttf);
}

.questrial {
  font-family: "questrial";
}
.gilroy-light {
  font-family: "gilroy light";
}
.gilroy-extra-bold {
  font-family: "gilroy extra bold";
}

.title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.middle-bar {
  flex: 1;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}
  .middle-bar-sep {
    border-right: solid rgb(51, 54, 57) 1px;
  }
  .middle-bar-item {
    display: flex;
    padding: 0 5px;
    cursor: pointer;
    pointer-events: auto;
  }
    .middle-bar-item.patreon {
      display: flex;
      flex-direction: row;
      align-content: center;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
      .middle-bar-item.patreon > span {
        padding-left: 5px;
      }
